.portfolio_body {
    background-color: #F4EEE0;
    height: 1000px;
}

.rounded_rect {
    outline: solid 2px #1d4755;
    outline-offset: -2px;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    aspect-ratio: 530/359;
    width: 40%;
}

.yellow {
    background-color: #f6ddab;
}

.green {
    background-color: #93beb9;
}

.perp {
    background-color: #C2C0F9;
}

.oranj {
    background-color: #F7BB99;
}

.image {
    position: absolute;
}

.rounded_img {
    outline: solid 2px #1d4755;
    outline-offset: -2px;
    border-radius: 15px;
    position: absolute;
}